#menub div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}


#twitterfeed {
    clear: both;
    margin: 0;
}

body {
    min-width: 0;
}

section {
    max-width: 100%;
    width: 100%;

}

.cols {
    clear: both;
}


nav > ul {
    display: none;
    width: 10px;
}

nav:hover > ul {
    display: block;
    margin-left: 0;
    padding-top: 10px;
}

nav:hover #menub div {
    background-color: white;
}

nav > ul > li:hover > ul {
    display: block;
    padding-left: 150px;
    margin-top: -42px;
}