h1 {
	color: blue;
}

h2 {
	text-decoration: underline;
}

p {
	text-align: center;
	font-size: 20px;
}

/**** ASTUCE ****/
/* border: solid 2px black; est équivalente à :
/* border-style: solid;
/* border-color: black;
/* border-width: 2px;
/* C'est une règle raccourci. */

#part_1 p {
	border: solid 2px black;
	background-color: lightgrey;
	width: 200px;
}

#part_2 p {
	width: 200px;
	margin: -2px;
}

#part_2 p:first-child {
	border: solid 2px red;
	background-color: pink;
}

#part_2 p {
	border: solid 2px blue;
	background-color: lightblue;
}

#part_2 p:last-child {
	border: solid 2px green;
	background-color: lightgreen;
}

/***************************/
/* Vos modifications ici : */
/***************************/

/*Question1
supérieur-inférieur: 10+30+20=60px
gauche-droite: 40+200+20=260px

Question 2
On remarque que la margine du bas est plus grande soit qu'il y a un plus grand espace en dessous du bloc

Question 3
block: les elements sont sous forme de colonne et prennent le moins d'espace possible
inline: les elements sont sous forme d'une ligne et prennent le moins d'espace possible
inline-block: les elements sont sous forme d'une ligne et prennent le plus d'espace possible sur la ligne

*/


#part_1 p {
	padding: 10px 20px 30px 40px;
	margin: 0 0 100px 0;
}

#part_2 p {
	display: block;
	
}
